/* code font and boxes */

@font-face
    font-family: 'Inconsolata DZ'
    src: url('/fonts/inconsolata-dz.eot')
    src: url('/fonts/inconsolata-dz.eot?#iefix') format('embedded-opentype'),
    src: url('/fonts/inconsolata-dz.woff') format('woff'),
    src: url('/fonts/inconsolata-dz.ttf')  format('truetype')

code
    padding: 0.2em
    background-color: $color-lightgrey

pre, code, tt
    font-family: 'Inconsolata DZ', monospace

.output
    display: block
    overflow-x: auto
    padding: 0.1em
    border: .07em solid $color-fore
    padding: 0.5em
    border-radius: 0.5em 0.5em 0.5em 0.5em
    background-color: $color-fore
    color: $color-back

.input
    color: $color-lightcomp
    font-weight: bold

