/* code font and boxes */

@font-face
    font-family: 'Inconsolata DZ'
    src: url('/fonts/inconsolata-dz.eot')
    src: url('/fonts/inconsolata-dz.eot?#iefix') format('embedded-opentype'),
    src: url('/fonts/inconsolata-dz.woff') format('woff'),
    src: url('/fonts/inconsolata-dz.ttf')  format('truetype')

pre, code, tt
    font-family: 'Inconsolata DZ', monospace

