/* code font and boxes */

@font-face
    font-family: 'Inconsolata DZ'
    src: url('/fonts/inconsolata-dz.eot')
    src: url('/fonts/inconsolata-dz.eot?#iefix') format('embedded-opentype'),
    src: url('/fonts/inconsolata-dz.woff') format('woff'),
    src: url('/fonts/inconsolata-dz.ttf')  format('truetype')

pre, code, tt
    font-family: 'Inconsolata DZ', monospace

// used for plain pseudocde ealry in book
pre.algorithm
    display: block
    background: $color-lightgrey
    color: $color-fore
    overflow-x: auto
    padding-left: 0.75em
    padding-right: 0.75em
    padding-top: 0.25em
    padding-bottom: 0.25em
    border: .07em solid $color-fore
    border-radius: 0.5em 0.5em 0.5em 0.5em
    margin-bottom: 2em

div.sourceCode
    display: block
    background: $color-lightgrey
    color: $color-fore
    overflow-x: auto
    padding-left: 0.75em
    padding-right: 0.75em
    padding-top: 0em
    padding-bottom: 0em
    border: .07em solid $color-fore
    border-radius: 0.5em 0.5em 0.5em 0.5em
    margin-bottom: 2em

// nested inside of the div above, don't add too much extra space
pre.sourceCode
    margin-top: 0.35em
    margin-bottom: 0.35em

.output
    display: block
    overflow-x: auto
    border: .07em solid $color-fore
    padding: 0.5em
    border-radius: 0.5em 0.5em 0.5em 0.5em
    background: $color-fore
    color: $color-back
    line-height: 1.2em

.input
    font-weight: bold
    color: $color-lightcomp

