/* site colors */

/* the main foreground and background colors, with 
 * some shades of grey in between   */
$color-back: #fcfcfc !default
$color-lightgrey: #eee !default
$color-medgrey: #ccc !default
$color-darkgrey: #666 !default
$color-fore: #333 !default

/* the main "brand" color for the book, and some lighter shades of it */
$color-base: #cd321a !default
$color-high: lighten($color-base, 15%)
$color-light: lighten($color-base, 50%)




