footer 
    margin-top: 2em
    font-size: 90%
    border: 1
    border-top: .1rem solid $color-medgrey

footer ol 
    padding-left: 2em

[aria-describedby="footnote-label"] 
    counter-increment: footnotes 
    text-decoration: none 
    color: inherit 
    cursor: default 
    outline: none 

[aria-describedby="footnote-label"]::after 
    content: '[' counter(footnotes) ']' 
    vertical-align: super 
    font-size: 0.6em 
    margin-left: -0.3em
    color: $color-base
    cursor: pointer 
    /* this makes it lign up with text before it */

[aria-describedby="footnote-label"]:focus:after,
[aria-describedby="footnote-label"]:hover:after
    color: $color-high
    
[aria-describedby="footnote-label"]:focus::after 
    outline: thin dotted
    outline-offset: 0.1em
[aria-label="Back to content"] 
    font-size: 0.8em

footer :target 
    background: $color-light

/* hidden stuff for accessibility */
.visually-hidden 
    position: absolute
    clip: rect(0 0 0 0)
    visibility: hidden
    opacity: 0

