// the lines are all in anchor tags, so this is the "not special" highlighting
a.sourceLine
    color: $color-fore
    text-decoration: none
    &:focus,
    &:hover
        color: $color-fore

.im,
.cf,
.kw
    color: $color-comp

.va,
.fl,
.dv,
    color: $color-high2

.co
    color: $color-darkgrey
    font-style: italic

.bu
    color: $color-high1

.st
    color: $color-base


