/* the topnav bar styles */

.topnav 
    background-color: $color-lightgrey
    /* because we have 70% width */
    margin-left: -15%
    margin-bottom: 2em
    position: fixed
    width: 100%
    top: 0
    border-bottom: 0.1em solid $color-fore

.topnav a 
    float: left
    color: $color-base
    text-align: center
    padding: 0.5em 0.5em
    font-weight: bold

.topnav a:hover 
    background-color: $color-medgrey
    color: $color-fore

.topnav a.righty
    float: right
    color: $color-base
    text-align: center
    padding: 0.5em 0.5em
    font-style: bold
    font-size: 110%

.topnav a.righty:hover 
    background-color: $color-medgrey
    color: $color-fore

/* used for the dropdown section menu */
.dropdown
    float: left
    overflow: hidden

.dropdown .dropbtn 
    cursor: pointer
    background-color: inherit
    font-family: inherit 
    float: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.dropdown-content
    float: none
    position: absolute
    top: 100%
    left: 45%
    display: none
    background-color: $color-lightgrey
    min-width: 160px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 1

.dropdown-content a
    float: none
    padding: 12px 16px
    text-decoration: none
    display: block
    text-align: left
    font-weight: normal

.dropdown-content a:hover
    background-color: $color-medgrey

.dropdown:hover .dropdown-content
    display: block

/* this makes the content start down a bit to make room
 for the bar */
.main
    margin-top: 5em

