/* utility classes */

/* clear a float with .clearfix */
.clearfix
    &:after
        clear: both
        content: ' '
        display: table

/* float either direction */
.float-left
    float: left

.float-right
    float: right

.text-center
    text-align: center

a.anchor
    position: relative
    top: -2.5em
    visibility: hidden

