/* utility classes */

/* clear a float with .clearfix */
.clearfix
    &:after
        clear: both
        content: ' '
        display: table

/* float either direction */
.float-left
    float: left

.float-right
    float: right

.text-center
    text-align: center

a.anchor
    display: block
    position: relative
    top: -4em
    visibility: hidden

