/* utility classes */

/* clear a float with .clearfix */
.clearfix
    &:after
        clear: both
        content: ' '
        display: table

/* float either direction */
.float-left
    float: left

.float-right
    float: right

.text-center
    text-align: center

/* used for linking in page without being blocked by nav bar */
.anchor
    position: relative
    top: -2.5em
    visibility: hidden

.resize_fit_center
    max-width: 100%
    max-height: 100%
    vertical-align: top

.center_img
    display: block
    margin-left: auto
    margin-right: auto
    width: 50%

